<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)='buscar(termino.value)' class="form-control" placeholder="Busca tu artista favorito">
    </div>
</div>

<!-- <div class="card-columns m-5">
    <div class="card" *ngFor="let artista of artistas">
        <img [src]="artista.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                {{ artista.name }}
            </h5>
        </div>
    </div>
</div> -->
<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]='artistas' class="m-5"></app-tarjetas>